{% extends "base.html" %}

{% comment %} users/templates/profile_update_form.html {% endcomment %}

{% comment %}
fields:
new_password1
new_password2
email
{% endcomment %}

{% load static %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block styles %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}"> {% endcomment %}

{% endblock styles %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>{{ title }}</h1>
        <form method="post" class="custom-form">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-primary mx-auto d-block">
            {{ button_text }}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {% comment %} <script defer src="{% static 'js/forms.js' %}"></script> {% endcomment %}

{% endblock script %}
