{% extends "base.html" %}

{% comment %} users/templates/profile_update_form.html {% endcomment %}

{% comment %}
fields:
new_password1
new_password2
email
{% endcomment %}

{% load static %}
{% load form_filters %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock styles %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1 class="text-center">{{ title }}</h1>
        <form method="post" class="custom-form">
          {% csrf_token %}
          {% if form.email %}

            {% include "includes/form_field.html" with form=form field=form.email type="text" %}

          {% endif %}
          {% if form.old_password %}

            {% include "includes/form_field.html" with form=form field=form.old_password type="password" %}

          {% endif %}
          {% if form.new_password1 %}

            {% include "includes/form_field.html" with form=form field=form.new_password1 type="password" %}

          {% endif %}
          {% if form.new_password2 %}

            {% include "includes/form_field.html" with form=form field=form.new_password2 type="password" %}

          {% endif %}
          {% if form|get_non_field_errors|length > 0 %}
            {% for error_msg in form|get_non_field_errors %}
              <span class="form-text error-span">{{ error_msg }}</span>
            {% endfor %}
          {% endif %}
          {% if message %}<p class="text-center">{{ message }}</p>{% endif %}
          {% if not form %}
            <a href="{{ button_url }}" class="btn btn-primary mx-auto d-block">{{ button_text }}</a>
          {% else %}
            <button type="submit" class="btn btn-primary mx-auto d-block">
              {{ button_text }}
            </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script defer src="{% static 'js/forms.js' %}"></script>
{% endblock script %}
