{% extends "base.html" %}

{% comment %} users/templates/profile_update_form.html {% endcomment %}

{% load static %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block styles %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/form.css' %}"> {% endcomment %}

{% endblock styles %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>{{ title }}</h1>
        <form method="post" class="custom-form">
          {% csrf_token %}
          <div class="input-group mb-3">
          {{ form.avatar.label }}
          {{ form.avatar }}
          {{ form.avatar.errors }}
          </div>
          {% include "includes/form_field.html" with form=form field=form.username type="text" %}
          {% include "includes/form_field.html" with form=form field=form.email type="text" %}
          {% include "includes/form_field.html" with form=form field=form.telegram_id type="text" %}
          {% include "includes/form_field.html" with form=form field=form.github_id type="text" %}
          <div class="input-group mb-3">
          {{ form.birth_date.label }}
          {{ form.birth_date }}
          {{ form.birth_date.errors }}
          </div>
          <button type="submit" class="btn btn-primary mx-auto d-block">
            {{ button_text }}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {% comment %} <script defer src="{% static 'js/forms.js' %}"></script> {% endcomment %}

{% endblock script %}
