{% extends "base.html" %}

{% comment %} templates/home.html {% endcomment %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/http-error-message.css' %}">
{% endblock styles %}

{% block title %}
  Ошибка сервера
{% endblock title %}

{% block content %}
  <center class="http-error-message">
    <h1>500</h1>
    <h2>Ошибка сервера</h2>
    <p>Что-то пошло не так...</p>
    <a href="{% url 'landing' %}" class="btn btn-primary">Главная</a>
  </center>
{% endblock content %}
